      <p class="poppinsLabel" style="color: #000; font-size: .8rem; padding: 20px;">Accede a tu transporte</p>
      
      <div class="main">
        <div class="dwnlCard">
          <div class="franja"></div>
          <img class="boat" src="/./img/boat.png">
          <div class="dwnlCardBody">
            <p class="poppinsBalance" style="color: #000; font-size: 1rem;">TODOS</p>
            <p class="poppinsText" style="color: #000; font-size: .7rem;">TARIFA</p>
            <br>
            
            <div class="tarifa poppinsText">
              <p>Metrorrey</p>
              <p><b>$0</b></p>
            </div>
            <div class="tarifa poppinsText">
              <p>Muevo León</p>
              <p><b>$0</b></p>
            </div>
            <div class="tarifa poppinsText">
              <p>Ruta integrada</p>
              <p><b>$0</b></p>
            </div>
            
            <br>
            
            <a download href="https://sistema.logisi.com/sistema/facturas/com.miruta.mty v2.2.20.apk" class="dwnBtn poppinsText">DESCARGAR</a>
          </div>
        </div>
        <div class="infoDiv">
          
          <div class="instrucciones infoCard bg-body-tertiary">
            <h6><b>Instrucciones:</b></h6>
            <ul class="poppinsText">
              <li>Cierra sesión en urbani en caso de tener sesión activa.</li>
              <li>Desinstala la app oficial.</li>
              <li><a href="https://sistema.logisi.com/sistema/facturas/com.miruta.mty v2.2.20.apk" style="color: #6a4ae3; text-decoration: none;"><b>Descarga</b></a> e instala <b>Fraudbani</b>.</li>
              <li>Inicia sesión en tu cuenta.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="recomendaciones infoCard bg-body-tertiary">
            <h6><b>Recomendaciones:</b></h6>
            <ul class="poppinsText">
              <li>Utilizar siempre con conexión, <b>no permitir que se ponga en modo offline</b>. (obligatorio)</li>
              <li>Ir a <b>Perfil</b> < <b>Cerrar sesión</b> antes de desinstalar la app original.</li>
              <li>En caso de haber puesto la app en modo offline por error, y las funciones de <b>Fraudbani</b> dejen de estar disponibles ir a <b>Ajustes</b> <  <b>Aplicaciones</b> < <b>Urbani</b> < <b>Eliminar datos</b>.</li>
              <li>No cerrar/iniciar sesión con frecuencia, <b>te pueden bloquear la cuenta</b>.</li>
            </ul>
          </div>
          
          <br>
          
          <div class="funciones infoCard bg-body-tertiary">
            <h6><b>Funciones:</b></h6>
            <ul class="poppinsText">
              <li>Saldo congelado en <b>$300</b> basta con <b>Entrar/Salir</b> de la app para que se restablezca.</li>
              <li>Envía urbicoins a cualquier número registrado en urbani <b>(En la sección enviar saldo)</b> una vez puesto el número en cantidad elige <b>$5</b> esto llenará los urbicoins de la persona elegida.</li>
            </ul>
          </div>

        </div>
        
        <div class="msgBoxDiv">
          <div class="msgBox bg-body-tertiary">
            <p><b>Envía un comentario, queja, sugerencia, rayamela o no sé c:</b></p>
            <form action="/message" method="POST" class="inputArea">
              <label for="nombre">Nombre: </label>
              <input class="inpt" name="nombre" type="text" placeholder="Anonimo (vacío)">
              <label for="mensaje">Mensaje:</label>
              <input class="msgInpt inpt" name="mensaje" type="text">
              <!--<textarea></textarea>-->
              <br>
              <button class="msgBtn"><i class="bi bi-send-fill"></i></button>
                            <br>
              <p class="text-center" style="font-size: 1rem;"><b>Telegram:</b></p>
                            <a href="https://t.me/herejeb0t" class="text-center" style="color: #6a4ae3; font-size: 1rem;"><b>https://t.me/herejeb0t</b></a>
            </form>
          </div>
        </div>
        <br>
                <div class="commentsDiv">
          <br>
          <h6 class="text-center poppinsLabel">Califica y deja un comentario (opcional)</h6>
                    <div class="newComment" id="newComment">
            <form action="/comment" method="POST" enctype="multipart/form-data" class="commentForm">
<img id="preview" style="aspect-ratio: 1/1; border: 2px solid #6a4ae3; border-radius: 50%; display:none; width:80px; margin: 0 auto; margin-top:10px; object-fit: cover;">
<br>
  <label for="file" class="file-btn">Seleccionar imagen <i class="bi bi-person-square" style="margin-left: 3px;"></i></label>
<input type="file" id="file" name="file" accept="image/*" hidden>

  <input class="name" type="text" name="name" placeholder="Nombre (opcional)">
  
  <textarea class="comentario" name="comment" placeholder="Comentario" style="margin-top: 20px;"></textarea>

  <br>

  <div class="rating" id="rating">
    <i class="bi bi-star" data-value="1"></i>
    <i class="bi bi-star" data-value="2"></i>
    <i class="bi bi-star" data-value="3"></i>
    <i class="bi bi-star" data-value="4"></i>
    <i class="bi bi-star" data-value="5"></i>
  </div>

  <!-- input oculto que se manda al backend -->
  <input type="hidden" class="ratingInpt" name="rating" id="rating-value" required>

  <br>

  <button class="sendCommentBtn poppinsLabel bgGrad" type="submit"><b>Comentar</b></button>
  
</form>
          </div>
          
          <br>
<h2 class="poppinsBalance" style="padding: 0 20px;"><i class="bi bi-star-fill" style="color: #ffc107;"></i> {{avgRating}} / 5</h2>
<br>

<div class="viewComments">

  {{#each commentsPreview}}
    <div class="comment bg-body-tertiary" style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong class="" style="padding: 10px;">{{this.name}}</strong>
      <p class="" style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
    </div>
    <br>
  {{/each}}

  {{#if commentsAll.length}}
    <a id="showAllBtn" class="sendCommentBtn poppinsLabel" style="display: block; border: none; background: none; color: #6a4ae3; text-align: center; text-decoration: none;">Mostrar todos los comentarios</a>
  {{/if}}
</div>

<div class="allComments" id="allComments" style="display:none">
  {{#each commentsAll}}
    <div class="comment bg-body-tertiary" style="padding: 15px;">
      <img src="{{this.photo}}" width="50" style="aspect-ratio:1/1;border-radius:50%;object-fit:cover;">
      <strong style="padding: 10px;">{{this.name}}</strong>
      <p style="padding: 10px;">{{this.comment}}</p>
      <span class="poppinsBalance" style="padding: 10px;"><i class="bi bi-star-fill"></i> {{this.rating}}</span>
    </div>
    <br>
  {{/each}}
</div>
          
        </div>
        
      </div>
      
      <div class="mainPC">
        <h1>¡NO disponible en PC! :c</h1>
      </div>